{% extends 'layouts/base.html' %}

{% block content %}

<h1>
    Proyectos
</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, quisquam.
</p>
    
{% for proyecto in proyectos %} <!-- Abro un ciclo for para mi variable proyectos -->

<article class="card">
    <a href="{% url 'detalle_proyectos' proyecto.id %}"><h1>{{proyecto.nombre}}</h1></a> <!-- Le digo como guardar en el html cada objeto del for recorrido -->
</article>

{% endfor %} <!-- Cierro el ciclo for para mi variable proyectos -->

{% endblock %}
