{% load static %}

<html>
    <head>
        <title>Proyecto Django</title>
        <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    </head>
    <body>
        <nav class="navbar container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'proyectos' %}">Proyectos</a></li>
                <li><a href="{% url 'tareas' %}">Tareas</a></li>
                <li><a href="{% url 'crear_tarea' %}">Crear Tareas</a></li>
                <li><a href="{% url 'crear_proyecto' %}">Crear Proyectos</a></li>
            </ul>
        </nav>
        <main class="container">
 
{% block content %}
{% endblock %}
           
        </main>
    </body>
</html>

